@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply m-0 bg-slate-950 font-sans text-slate-100 antialiased;
}

#root {
  @apply min-h-screen;
}
